*{
    margin: 0%;
    padding: 0%;
    border: 0%;
    --main-color:  rgb(218, 218, 218);
    --text-color:  rgb(0, 0, 0);
    --text2-color: rgb(44, 40, 255);
    /* --text2-color: rgb(4, 0, 255); */
    
}

        a, a:hover, a:visited, a
        {
            color: var(--text-color);
            text-decoration:none;
    
        }
        body{
            background-color:var(--main-color);
            overflow-x: hidden;
            overflow-y: hidden;
        }


/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-MENUS-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
        
        p{
            font-size: 2.2vh;
        }
        #titre{
            font-size: 4vh;
        }
        
        .top{
            position: fixed;
            top: 0;
            height: 8vh;
            width: 100vw;
            display: flex;
            flex-direction:row;
            justify-content:space-between;
            z-index: 20;
        }
        
        .boutontop{
            display: flex;
            align-items: center;
        }
        
        #nom {
            position: absolute;
            top: 50%; left: 50%; 
            transform: translate(-50%, -50%);
            font-family: "autopia";
            color:var(--text-color) ;
        
        }
        
        #about{
            position: relative;
            left: 20px;
            color:var(--text-color);
            font-family: "autopia2";
        }
        
        #insta{
            position: relative;
            right: 20px;
            color:var(--text-color);
            font-family: "autopia2";
        }
        
        .pseudo{
            position: fixed;
            right: -180px;
            top: 40px;
            transition: 300ms;
        }
        
        #insta:hover .pseudo{
            right: 20px;
            transition: 300ms;
        }
        
        
                .top2{
                    position: fixed;
                    top: 50%;
                    transform: translate(0%, -50%);
                    height: 5vh;
                    width: 100vw;
                    display: flex;
                    flex-direction:row;
                    justify-content: center;
                    z-index: 20;
                    transition: 0.5s;
                }
                .categorie{
                    position: relative;
                    font-family: "autopia2";
                    color:var(--text-color) ;
                    margin: 1.2vh;
                    cursor: pointer;
                }
                .projectsbleu{
                    color:var(--text2-color) ;
                }
                .bijouxbleu{
                    color:var(--text2-color) ;
                }
                .shopbleu{
                    color:var(--text2-color) ;
                }
                .uptop {
                    top: 6vh;
                    transform: translate(0%, 0%);
                    transition: 0.5s;
                }
                .uptop2 {
                    top: 6vh;
                    transform: translate(0%, 0%);
                    transition: 0.5s;
                }
                .uptop3 {
                    top: 6vh;
                    transform: translate(0%, 0%);
                    transition: 0.5s;
                }

                    
        .bot{
            position: fixed;
            bottom: 0;
            height: 8vh;
            width: 20vw;
            z-index: 30;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }    
                .botleft{
                    left: 0px;
                    align-items: start;
                }
                .botright{
                    right: 0px;
                    align-items: end;
                }
        
        #contact{
            position: relative;
            left: 20px;
            color:var(--text-color);
            font-family: "autopia2";
            z-index: 30;
        }
        
        #logo{
            position: relative;
            right: 20px;
            color:var(--text-color);
            font-family: "autopia2";
            cursor: pointer;
        }
        #followbox{
            opacity: 0;
        }
        #followbox.hover{
            opacity: 1;
        }
        #logoa.hover{
            opacity: 0;
        }
        
        .follow{
            width: 20px;
            height: 20px;
            position: fixed;
            text-align: center;
            line-height: 20px;
            transition: transform 0.2s ease; /* Ajout de la transition */
            white-space: nowrap; /* Empêcher le saut de ligne */
        color: var(--text-color);
            z-index: 100;
        
            font-family: "autopia2";
        }
        
        a:hover{  color: var(--text2-color)  }



        @media (max-width: 600px) {

            #titre{
                text-align: center;
                font-size: 5.8vw
            }
            p{
                font-size: 3vw;
            }
        }

        @media (min-width: 600px) and (max-width: 1000px) {

            p{
                font-size: 2.2vh;
            }
            #titre{
                font-size: 4vh;
            }
        }

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-PROJETS_-_-_-_-_-_-_-_-_-_-_-_-_- */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.projectscontainer {
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 20vh);
z-index: 10;
transition: 0.7s;
}
.upprojects{
    top: 0%;
    transition: 0.7s;
}




.imgprojets{
    position: relative;
width: 3vh;
height: 4vh;
    z-index: 1;
    transition: 300ms;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.miniature{
    width: 100%;
    height: 100%;
}

#imga{grid-row:4/5; grid-column: 4/5;  rotate: 20deg;} 
#imgb{grid-row:4/5; grid-column: 1/2;  rotate: -7deg;}
#imgc{grid-row:4/5; grid-column: 2/3;  rotate: 4deg; position: relative; top: 70%;}
#imgd{grid-row:2/3; grid-column: 2/3;  rotate: -12deg; position: relative; left: 20%;}
#imge{grid-row:3/4; grid-column: 5/6;  rotate: -7deg;}
#imgf{grid-row:2/3; grid-column: 4/5;  rotate: 5deg;}
#imgg{grid-row:3/4; grid-column: 3/4;  rotate: 5deg;}
#imgh{grid-row:5/6; grid-column: 5/6;  rotate: -7deg; position: relative; top: -20%; left: 20%;}

#imga:hover{  transform: scale(7); rotate: 0deg; transition: 200ms; }
#imgb:hover{  transform: scale(7); rotate: 0deg; transition: 200ms; }
#imgc:hover{  transform: scale(7); rotate: 0deg; transition: 200ms; }
#imgd:hover{  transform: scale(7); rotate: 0deg; transition: 200ms; }
#imge:hover{  transform: scale(7); rotate: 0deg; transition: 200ms; }
#imgf:hover{  transform: scale(7); rotate: 0deg; transition: 200ms; }
#imgg:hover{  transform: scale(7); rotate: 0deg; transition: 200ms; }
#imgh:hover{  transform: scale(7); rotate: 0deg; transition: 200ms; }


.projetsname{
    position: fixed;
    bottom: 4.8vh;
    left: 50vw;
    transform: translate(-50%,-50%);

    text-align: center;
    color: var(--text2-color);
font-family: "autopia";
    opacity: 0;

}

#imga:hover ~ #a {  opacity: 1;  }
#imgb:hover ~ #b {  opacity: 1;  }
#imgc:hover ~ #c {  opacity: 1;  }
#imgd:hover ~ #d {  opacity: 1;  }
#imge:hover ~ #e {  opacity: 1;  }
#imgf:hover ~ #f {  opacity: 1;  }
#imgg:hover ~ #g {  opacity: 1;  }
#imgh:hover ~ #h {  opacity: 1;  }
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-SHOP-_-_-_-_-_-_-_-_-_-_-_-_-_- */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.shopcontainer {
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    transition: 0.7s;
    overflow-x: scroll;
    overflow-y: hidden; 
    scrollbar-width: none; 

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .upshop{
    top: 0%;
    transition: 0.7s;
}


/* Flèches */
.arrow {
    font-size: 30px;
    cursor: pointer;
    margin: 10vw;
    color: #333;
}

/* Style pour chaque bloc de couleur */
.colorBlock {
    width: 40vh;
    height: 55vh;
    margin: 0 20px;
    transition: background-color 0.3s ease;
}

/* Liste des couleurs */
#blueBlock { background-color: blue; }
#redBlock { background-color: red; }
#yellowBlock { background-color: yellow; }
#orangeBlock { background-color: orange; }
#violetBlock { background-color: violet; }


.order {
        position: absolute;
        bottom: 1.2vh;
        left: 50vw;
        transform: translate(-50%,-50%);
        text-align: center;
        color: var(--text2-color);
        font-family: "autopia";
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

/* Vidéo sans contrôle, qui s'adapte à la taille de l'écran */
.video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* La vidéo s'ajuste pour couvrir tout le conteneur sans déformation */
    overflow: hidden;

}

.info{ 
    position: relative; 
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price{ 
    position: absolute;
    bottom: 0px;  /* Positionner en bas */
    left: 0px;    /* Positionner à gauche */
    font-family: "autopia";
}
.size{ 
    position: absolute;
    bottom: 0px;  /* Positionner en bas */
    right: 0px;   /* Positionner à droite */
    font-family: "autopia";
}


/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_BIJOUX_-_-_-_-_-_-_-_-_-_-_-_-_- */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */



.bijouxcontainer {
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    transition: 0.7s;
    overflow-x: scroll;
    overflow-y: hidden; /* Désactive le défilement vertical */
    scrollbar-width: none; /* Pour Firefox */
  }

.bijouxcontainer::-webkit-scrollbar {
    display: none;  /* Pour Chrome, Safari et Opera */
  }
  
  .scrollbijoux {
    height: 100vh;
    width: 200vw;
  }

.upbijoux{
    top: 0%;
    transition: 0.7s;
}

.carroussel{
    position: relative;
    height: 80vh;
    top: 50vh;
    left: 5vw;
    margin-right: 10vw;
    transform: translate(0%,-50%);
    z-index: 1;
}

#carrousseli{
    padding-right: 12vw;
}
/* .dégradé1{
    height: 100vh;
    width: 20vw;
    position: fixed;
    left: -7vh;
    top: 0vh;
    z-index: 2;
}
.dégradé2{
    height: 100vh;
    width: 20vw;
    position: fixed;
    right: -7vh;
    top: 0vh;
    z-index: 2;
} */


.projetsname2{
    position: fixed;
    bottom: 3vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    text-align: center;
    color: var(--text2-color);
font-family: "autopia";
    opacity: 0;
}

#carroussela:hover ~ #a2 {  opacity: 1;  }
#carrousselb:hover ~ #b2 {  opacity: 1;  }
#carrousselc:hover ~ #c2 {  opacity: 1;  }
#carrousseld:hover ~ #d2 {  opacity: 1;  }
#carroussele:hover ~ #e2 {  opacity: 1;  }
#carrousself:hover ~ #f2 {  opacity: 1;  }
#carrousselg:hover ~ #g2 {  opacity: 1;  }
#carrousselh:hover ~ #h2 {  opacity: 1;  }
#carrousseli:hover ~ #i2 {  opacity: 1;  }




@media (max-width: 600px) {

    /* *{
        --main-color:  rgb(219, 6, 6);       
    }
     */

     #titre{
        font-size: 4.7vw;
    }
}


@font-face {
    font-family:"autopia";
    src: url(font/Francesco-Italic-Trial.otf);
    font-style: normal;
    font-weight: 100;
} 


@font-face {
    font-family:"autopia2";
    src: url(font/Francesco-Regular-Trial.otf);
    font-style: normal;
    font-weight: 100;
}

/* @font-face {
    font-family:"autopia";
    src: url(font/EBGaramond-0.016/ttf/EBGaramond12-Regular.ttf);
    font-style: normal;
    font-weight: 100;}

    @font-face {
        font-family:"autopia2";
        src: url(font/EBGaramond-0.016/ttf/EBGaramond12-Regular.ttf);
        font-style: normal;
        font-weight: 100;
    } */







