*{
    margin: 0%;
    padding: 0%;
    border: 0%;
    --main-color:  rgb(218, 218, 218);
    --main-color2:  rgb(0, 0, 0);
    --text-color:  rgb(0, 0, 0);
    --text2-color: rgb(44, 40, 255);
    /* --text2-color: rgb(4, 0, 255); */
    /* outline: 1px solid red; */
    
}

        a, a:hover, a:visited, a {
            color: var(--text-color);
            text-decoration:none;
        }
        body{
            background-color:var(--main-color);
            overflow-x: hidden;
        }

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-MENUS-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-COMMUN_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-TOP*/
        
        p{
            font-size: 2.2vh;
        }
        #titre{
            font-size: 4vh;
        }
        
        .top{
            position: fixed;
            top: 0;
            height: 8vh;
            width: 100vw;
            display: flex;
            flex-direction:row;
            justify-content:space-between;
            z-index: 20;
        }
        
        .boutontop{
            display: flex;
            align-items: center;
        }
        
        #nom {
            position: absolute;
            top: 50%; left: 50%; 
            transform: translate(-50%, -50%);
            font-family: "autopia";
            color:var(--text-color) ;
        
        }
        
        #about{
            position: relative;
            left: 20px;
            color:var(--text-color);
            font-family: "autopia2";
        }
        
        #insta{
            position: relative;
            right: 20px;
            color:var(--text-color);
            font-family: "autopia2";
        }
        
                .pseudo{
                    position: fixed;
                    right: -300px;
                    top: 40px;
                    transition: 300ms;
                }
                
                #insta:hover .pseudo{
                    right: 20px;
                    transition: 300ms;
                }
        
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-BOT*/
                    
        .bot{
            position: fixed;
            bottom: 0;
            height: 8vh;
            width: 20vh;
            z-index: 30;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }    
                .botleft{
                    left: 0px;
                    align-items: start;
                }
                .botright{
                    right: 0px;
                    align-items: end;
                }
        
        #contact{
            position: relative;
            left: 20px;
            color:var(--text-color);
            font-family: "autopia2";
            z-index: 30;
        }
        
        #logo{
            position: relative;
            right: 20px;
            color:var(--text-color);
            font-family: "autopia2";
            cursor: pointer;
        }
                #followbox{
                    opacity: 0;
                }
                #followbox.hover{
                    opacity: 1;
                }
                #logoa.hover{
                    opacity: 0;
                }
                
                .follow{
                    width: 20px;
                    height: 20px;
                    position: fixed;
                    text-align: center;
                    line-height: 20px;
                    transition: transform 0.2s ease; /* Ajout de la transition */
                    white-space: nowrap; /* Empêcher le saut de ligne */
                color: var(--text-color);
                    z-index: 100;
                
                    font-family: "autopia2";
                }
        
        a:hover{  color: var(--text2-color)  }





        @media (max-width: 600px) {


            p{
                font-size: 4.5vw;
            }
            a{ 
                font-size: 4vw;
            }
             #titre{
                font-size: 8vw;
            }
    
        
        }
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_PROJET-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */



.leprojet{
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.intermediaire{
    height: auto;
    width: 65vh;
    flex-grow: 0;
    flex-shrink: 0;
}

#textcontainer{
    position: fixed;
    bottom: 5vh;
    width: 65vh;
    height: auto;
    display: flex;
    flex-direction: column-reverse;

}

    .titreprojet{
        font-size: 6vh;
        font-family: "autopia2";
        color:  var(--text-color);
        margin: 20px;
        margin-left: 8vh;
        margin-right: 4vh;
    }

    #colab{
        color: blue;
    }
    #colab:hover{
        color: rgb(255, 149, 0);
    }

    .text{
        font-size: 1.8vh;
        color:  var(--text-color);
        font-family: "autopia2";
        margin: 8vh;
        margin-right: 0vh;
        margin-top: 0%;
        margin-bottom: 6vh;
    }



    .intermediaire2{
        height: auto;
        width: auto;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }


/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* -_-_-_-_-_-_-_-_-_-_-_-_PROJET_-COMMUN-_-_-_-_-_-_-_-_-_-_-_ */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

#imagegrid{
    position: relative;
margin-top: 20vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(auto-fill, minmax(300px, auto)); */
    flex-grow: 1;
    grid-row-gap: 3%; 

}

.imagecontainer{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 83%;
min-height: 4vh;
}

.legend{
    font-family: "autopia";
    font-size: 
    1.2vw;
}


#chapo{  display: none;}


#abis{  grid-column: span 2 / span 2;  aspect-ratio: 10 / 12;}
    #imageabis{   width: 90%; position: absolute; left: 50%; transform: translate(-50%);  }
    #legendabis{
        position: absolute;
        bottom: 0%;
        right: 9%;
    }
  

#a{  grid-column: span 2 / span 2;  aspect-ratio: 10 / 6.5;}
    #imagea{   width: 90%; position: absolute; left: 0%  }
    #legenda{
        position: absolute;
        bottom: 4%;
        right: 4%;
    }
  

#b{  grid-column: span 2 / span 2; aspect-ratio: 10 / 8;}
    #imageb{   width: 87%; position: absolute; right: 2%;  }
    #legendb{
        position: absolute;
        bottom: 8%;
        left: 8%;
    }
   

#c{  grid-column: span 2 / span 2; aspect-ratio: 10 / 7;}
    #imagec{   width: 90%; position: absolute; left: 0%; top: 0%; transform: scaleX(-1); }    
    #legendc{
        position: absolute;
        bottom: 4%;
        right: 4%;
    }
    

#d{  grid-column: span 2 / span 2;  aspect-ratio: 10 / 6.5;}
    #imaged{   width: 93%; position: absolute; right: 0px;  }
    #legendd{
        position: absolute;
        bottom:4%;
        left: 4%;
    }








@media (max-width: 600px) {

    .leprojet{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .intermediaire{
        height: auto;
        width: auto;
    }


     .titreprojet{
        font-size: 5.5vw;
    }

    #textcontainer{
        position: relative;
        margin-top: 20vh;
        width: 90vw;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    
        .titreprojet{
            text-align: center;
            font-size: 9vw;
            margin: 0%;
            margin-bottom: 5%;
        }
    
        .text{
            font-size: 3vw;
            text-align: center;
            margin-left: 13%;
            margin-right: 13%;
            margin-top: 0%;
            margin-bottom: 0%;
        }

    
    
    #imagegrid{
        position: relative;
        top: auto;
        margin-top: 10vh;
    width: 80vw;
    right: auto;
    row-gap: 7%;
    }
    .imagecontainer{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    display: flex;
    }
    
    .legend{
        font-family: "autopia";
        font-size: 2.2vw;
        text-align: center;
    }

    #chapo{ display: flex; height: 12vh; grid-column: span 2 / span 2;  aspect-ratio: 10 / 12; justify-content: center;}
    #imagechapo{   width: 100%;  }

    #abis{  grid-column: span 2 / span 2;  aspect-ratio: 10 / 12;}
    #imageabis{   width: 90%; position: absolute; left: 50%; top: 8%;  transform: translate(-50%);  }
    #legendabis{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 0%;
    }

    #a{  grid-column: span 2 / span 2;  aspect-ratio: 10 / 6.5;  }
    #imagea{   width: 90%; position: absolute; left: 50%; top: 12%;  transform: translate(-50%);  }
    #legenda{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 0%;
    }
  

#b{  grid-column: span 2 / span 2; aspect-ratio: 10 / 9;}
    #imageb{   width: 87%; position: absolute; left: 50%; top: 12%;  transform: translate(-50%);  }
    #legendb{
        left: 50%;
        transform: translate(-50%);
        top: 0%;
    }
   

#c{  grid-column: span 2 / span 2; aspect-ratio: 10 / 7.5;}
    #imagec{   width: 90%; position: absolute; left: 50%; top: 12%;  transform: translate(-50%);  }    
    #legendc{
        left: 50%;
        transform: translate(-50%);
        top: 0%;
    }
    

#d{  grid-column: span 2 / span 2;  aspect-ratio: 10 / 6.5;}
    #imaged{   width: 93%; position: absolute; left: 50%; top: 12%;  transform: translate(-50%);  }
    #legendd{
        left: 50%;
        transform: translate(-50%);
        top: 0%;
    }





}


@media (min-width: 600px) and (max-width: 1000px) {


    .intermediaire{
        height: auto;
        width: auto;
    }

    .leprojet{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    #textcontainer{
        position: relative;
        margin-top: 22vh;
        width: 90vh;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    
        .titreprojet{
            text-align: center;
            font-size: 4.5vh;
            margin: 0%;
            margin-bottom: 5%;
        }
    
        .text{
            font-size: 1.6vh;
            text-align: center;
            margin-left: 13%;
            margin-right: 13%;
            margin-top: 0%;
            margin-bottom: 0%;
        }


    #imagegrid{
        margin-top:10vh;
        width: 90vh;
    }
    .legend{
        font-size: 1.4vh;
    }

    .imagecontainer{
        display: flex;
    }

    #abis{  grid-column: span 2 / span 2;  aspect-ratio: 10 / 13; }
    #imageabis{   width: 90%; position: absolute; top: 5%;  }
    #legendabis{
        position: absolute;
        text-align: center;
        left: 50%;
        top: 0%;
        transform: translate(-50%);

    }
  
}


@font-face {
    font-family:"autopia";
    src: url(font/Francesco-Italic-Trial.otf);
    font-style: normal;
    font-weight: 100;
} 


@font-face {
    font-family:"autopia2";
    src: url(font/Francesco-Regular-Trial.otf);
    font-style: normal;
    font-weight: 100;
}


/* @font-face {
    font-family:"autopia";
    src: url(font/Autopia-Italic.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family:"autopia2";
    src: url(font/Autopia-Regular.otf);
    font-style: normal;
    font-weight: 100;
} */